.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  padding: var(--space-6) var(--space-22);
}

.btn .text {
  font-size: var(--space-12);
  line-height: var(--space-20);
  color: var(--white);
}
.btn .icon {
  font-size: var(--space-12);
  line-height: 1;
  color: var(--white);
}

.btn.btn--white {
  background: var(--white);
}

.btn.btn--orange {
  background: var(--radial-gradient-orange-4);
}

.btn.btn--orange-1 {
  background: var(--orange-2);
}

.btn.btn--smoky-gray {
  background: var(--smoky-gray-4);
  color: rgba(36, 36, 36, 0.3);
}

.btn.btn--smoky-gray .text {
  font-size: var(--space-16);
  line-height: var(--space-24);
  color: rgba(36, 36, 36, 0.3);
}

.btn.btn--radius-100 {
  border-radius: var(--space-100) !important;
}

.btn.btn--radius-right-4 {
  border-top-right-radius: var(--space-4) !important;
  border-bottom-right-radius: var(--space-4) !important;
}

.border--radius-left-4 {
  border-top-left-radius: var(--space-4) !important;
  border-bottom-left-radius: var(--space-4) !important;
}
