.tch-box .form-control--custom::placeholder {
  padding-right: var(--space-4);
  font-size: var(--space-14);
  line-height: var(--space-22);

  color: var(--black-5);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 1;
}

.form-control--custom:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control--custom {
  font-size: var(--space-16);
  line-height: var(--space-24);

  color: var(--black-3);
}

/* custom input checkout*/
.tch-delivery__input {
  height: var(--space-44);

  padding: var(--space-10) var(--space-12);
  background: #fafafa;
  border: 1px solid #ededed;
}

.tch-delivery__input::placeholder {
  font-size: var(--space-16);
  line-height: var(--space-24);

  color: #c4c4c4;
}

.tch-delivery__input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* custom radio checkout*/
.custom-radio .custom-control-label::before {
  border-radius: 100%;
}

.custom-control-label.tch-custom-radio::before,
.custom-control-input {
  width: var(--space-24);
  height: var(--space-24);
}

.custom-control-label.tch-custom-radio::before {
  top: 0;

  border: 3px solid #e4e4e4;
}

.custom-control-input:checked ~ .custom-control-label.tch-custom-radio::before {
  color: var(--white);
  border-color: var(--orange-2);
  background-color: var(--white);
}

.custom-control-label.tch-custom-radio::after {
  top: 7px;
  left: -17px;
  width: var(--space-10);
  height: var(--space-10);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label.tch-custom-radio::after {
  background-image: unset;
  background-color: var(--orange-2);
  border-radius: 100%;
}
